[settings]
viz = True
method = dopri5
#make a for loop that automatically changes these settings and then create diff complete files of output/results
#make sure that output file formatting is good
#seperate training weights, and other variables in diff folders
#install weights and biases into a dictionary
"""
weights and biases loaded into a dictionary
then get the weight loss and then compare everything
"""
#below 5 can be probed
neurons_per_layer = 40 #this could break (and this would be good)
#could use adamw but need to know weight decay better (technically better optimizer, but we'll see)
#but weight decay is 0 (W in AdamW stands for weight)
optimizer = adam 
batch_size = 17
init_lr = 1e-3 
weight_decay = 0


cpu = True #don't touch - may need to be gpu later (for the desktop should be False)
val_split = 0.082 #don't touch (for now)
noise = 0
epochs = 100 #don't touch
#can modify the below 3
normalize_data = False
batch_type = trajectory
scale_expression = 1

pretrained_model = False
